@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.container {
    margin: 1rem;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero__left {
    margin-bottom: 1rem;
}

.hero__title {
    color: black;
    margin-bottom: 1rem;
    font-size: 2.3rem;
    font-family: 'Rubik';
}

.hero__genre {
    color: #2B3467;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-family: 'Rubik';
}

.hero__description {
    color: black;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-family: 'Rubik';
    align-items: justify;
}

.hero__button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #EB455F;
    color: white;
    font-size: 1.2rem;
    font-family: 'Rubik';
}

button:hover {
    opacity: 0.5;
}

.hero__image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 3rem auto;
    }

    .hero {
        margin: 0 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .hero__left {
        flex-basis: 40%;
    }

    .hero__right {
        flex-basis: 60%;
    }
}